aioconsole
aiosqlite-pool
asyncpg
augmentor
better-profanity
brawlstars
bs4
buttons
clashroyale
dbfn
dblpy
discord
discord-anti-spam
discord-components
discord-ext-menus
discord-flags
discord-py-slash-command
discord-webhook
discordutils
dnspython
emojis
en-core-web-sm
enhanced-dpy
ffmpeg
flask-discord
gitpython
jishaku
lavalink
lockfile
lxml
motor
mysql-connector-python
nest-asyncio
nudepy
phue
pip-chill
plac
poetry
profanity-check
psutil
pyfiglet
pynacl
pynite
pyresparser
pysocks
pytest
python-dotenv
pytimeparse
pyttanko
pyyaml
redis
sentry-sdk
sr-api
time-str
timeago
tweepy
typing
url-parser
wand
wavelink
webserver
websockets
youtube-dl